@import url('https://fonts.cdnfonts.com/css/juice-itc');
#wrapper {
    background-color: #E2C799;
    color: #9A3B3B;
    width: 80%;
    margin: auto;
    min-width: 800px;
    box-shadow: 5px 5px 5px black;
}
header {
    background-color: burlywood;
    /* padding: 5px 10px 5px; */
}
h1 {
    font-family: 'Juice ITC', sans-serif;     
	font-weight: bold;
    text-shadow: 3px 3px 1px black;
    color: #946338;
    text-align: center;
    font-size: 75px;
}
body{
    background-color: #FFDBAA;
}
#leftcolumn {
    float: left;
    width: 10%;
    padding-left: 10px;
}
#rightcolumn {
    background-color: #FBF0B2;
    color: #A73121;
    float: right;
    width: 85%;
    padding-top: -20px;
}
.navindex {
    list-style-type: none;
    text-align: center;
}

.navindex a {
    text-decoration: none;
    font-weight: bold;
    color: #9A3B3B;
    font-family: Arial, Helvetica, sans-serif;
}




#floatleftindex { 
    /* margin: 10px; */
    padding-left: 100px;
    margin-top: 100px;
}


h2 {
    font-size: 150%;
    text-align: left;
    margin-top: -450px;
    padding-top: 100px;
}
.hihi {
    margin-top: 100px;
    padding-left: 250px;
}
footer {
    font-size: 70%;
    text-align: center;
    clear: both;
    background-color: burlywood;
    padding-top: 15px;
    padding-bottom: 15px;
} 

footer a {
    color: #9A3B3B;
}